* {
    font-family: Verdana;
}

body {
    margin: 0;
}

#spinacz {
    background-color: #6f79a8;
    color: white;
    height: 140px;
    display: flex;
}

#baner_1 {
    width: 30%;
}

#baner_2 {
    width: 70%;
}

main {
    display: flex;
    flex-wrap: wrap;
}
#blok {
    background-color: #9fa8da;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6f79a8;
    overflow: hidden;
}

#blok:hover {
    background-color: #6f79a8;
    color: white;
}

footer {
    background-color: #6f79a8;
    color: white;
    padding: 5px;
    text-align: right;
}

h6 {
    text-align: center;
}
