* {
    font-family: Garamond;
}

body {
    margin: 0;
}

header {
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
    float: left;
}

main {
    width: 80%;
    height: 600px;
    float: left;
}

aside {
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;
}

footer {
    background-color: tomato;
    color: white;
    text-align: center;
    clear: both;
}

img {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

section {
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}

.blok_j,
.blok_k {
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

.blok_j {
    background-color: #eee;
}

.blok_j img {
    float: left;
}

.blok_k {
    background-color: #ccc;
    text-align: right;
}

.blok_k img {
    float: right;
}

button {
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}

input {
    width: 500px;
}
